/*Stylesheet for Horiseon Web Page*/
/*Last updates by Arielle Schlickman-Elak | July 30 2022*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}
/*Logo and navigation*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
header h1 {
    display: inline-block;
    font-size: 48px;
}
/*Inner logo formatting*/
header h1 .seo {
    color: #d9dcd6;
}
/*Top-right navigation styling*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*Remove default list dots*/
header nav ul {
    list-style-type: none;
}
/*Make navigation items align horizontally*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*Default link color*/
a {
    color: #ffffff;
    text-decoration: none;
}

/*Default paragraph font size*/
p {
    font-size: 16px;
}

/*Main full-screen width splash image*/
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*Main services content section*/
.services {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*Main services image formatting (appears to the left)*/
.image-left {
    float: left;
    margin-right: 25px;
}
/*Main services image formatting (appears to the right)*/
.image-right {
    float: right;
    margin-left: 25px;
}
/*Main services content formatting*/
.services-section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}
/*Main services content image height*/
.services-section img {
    max-height: 200px;
}
/*Main services header*/
.services-section h2 {
    margin-bottom: 20px;
    font-size: 36px;
}


/*Right sidebar of benefits*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*Benefit spacing and color*/
.benefits-section{
    margin-bottom: 32px;
    color: #ffffff;
}
/*Benefit header spacing*/
.benefits-section h3{
    margin-bottom: 10px;
    text-align: center;
}
/*Benefit icon formatting*/
.benefits-section img{
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/*Bottom footer*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*Bottom footer header*/
footer h2 {
    font-size: 20px;
}
